<header>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="/assets/dot.svg" class="align-baseline" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Menu 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Menu 2</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<main>
  <div class="container">
    <router-outlet>
    </router-outlet>

    <!-- TO BE DELETED BEGIN -->
    <h1>Service V1 Works!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni cupiditate neque fugit deserunt, itaque
      obcaecati
      laudantium? Culpa facere necessitatibus numquam voluptas quidem? Minus, vero fugiat facere praesentium quas qui
      voluptates?</p>
    <!-- TO BE DELETED END -->

  </div>
</main>
<footer class="bg-dark text-light">
  <div class="container">
    &copy; 2020 Umana Forma - Corso Digital Innovation Developer
  </div>
</footer>