<h1>Inserisci le tue credenziali</h1>
<form ngNativeValidate (submit)="formOnSubmit($event)">
    <p><label for="username"> Username: </label>
        <input type="text" name="username" id="username" [(ngModel)]="template.username" placeholder="user or admin"
            autocomplete="off" required>
    </p>
    <p><label for="password"> Username: </label>
        <input [type]="passwordType" name="password" id="password" [(ngModel)]="template.password" placeholder="password"
            autocomplete="off" required>
        <button type="button" (click)="doShowHide($event)">{{buttonLabel()}}</button></p>
    <p>
        <button type="submit" class="btn btn-warning" [disabled]="formDisabled || !validForm()"> Login</button>
    </p>
</form>